<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Chat App | Login</title>
	<meta name="description" content="Chat App | Login">
	<meta name="author" content="ligmaballs">

<style>

</style>
</head>

<body>
	<ul id="messages"></ul>
	<form action="/login" method="POST">
		<h2>Login</h2>
		<input id="ulogin" name="user" autocomplete="off" placeholder="Username" /><br>
		<input id="plogin" name="password" autocomplete="off" placeholder="Password" /><br>
		<button>Login</button>

	</form>
	<br>
	<br>
	<form action="/register" method="POST">

		<h2>Register</h2>
		<input id="uregister" name="user" autocomplete="off" placeholder="Username" /><br>
		<input id="pregister" name="password" autocomplete="off" placeholder="Password" /><br>
		<button>Register</button>

	</form>
</body>
</html>